$primary_color: #FF8303;
$background_color: #1B1A17;
$text_color: #FFFFFF;
$font_color: #F0E3CAA3;
$task_background: #242320;

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: $background_color;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    flex-wrap: nowrap;
}

.text_container {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 

    .about{
        margin-top: 8px;
    }
}

.input {
    height: 32px;
    font-size: 10px;
    color: $text-color;
    background-color: $task_background;
    border: 1px solid $primary_color;
    border-radius: 4px; 
    padding: 0 10px;
}

.textarea {
    font-size: 14px;
    color: $text-color;
    background-color: $task_background;
    border: 1px solid $primary_color;
    border-radius: 4px; 
    padding: 0 10px;
}

.add_button {
    background-color: $background_color;
    color: $primary_color;
    font-size: 40px;
    width: 74px;
    height: 74px;
    border-color: $primary_color;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
}

.task_section {
    margin-top: 40px;
}

.top_line {
    width: 64px;
    border: 2px solid $primary_color;
}

.no_tasks {
    color: $text-color; 
    font-size: 23px; 
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

//Добавление задачи и удаление её

.task {
    background-color: $task_background; 
    border: 1px solid $primary_color; 
    height: 44px;
    padding: 10px; 
    margin: 10px 0;
    border-radius: 5px;
    color: $font-color; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.task .text-container {
    width: 90%;
}

.task .title {
    font-size: 22px;
    margin: 0;
}

.task .about {
    font-size: 14px;
    margin: 0;
}

.task .about, .task .title {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.delete_button {
    width: 32px;
    height: 32px;
    font-size: 25px;
    background-color: $background_color;
    border-color: $primary_color;
    border-radius: 4px;
    color: $primary-color; 
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal_content {
    background-color: #1B1A17; 
    padding: 20px;
    width: 281px;
    height: 120px;
    border-radius: 4px;
    text-align: center;
    font-size: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    color: $text-color;
    border-top: 4px solid $primary_color;
}

.confirm_button, .cancel_button, .save_button {
    width: 64px;
    height: 30px;
    background-color: $background_color;
    border-color: $primary_color;
    border-radius: 4px;
    padding: 5px;
    margin: 0 10px;
    color: #D9D9D9; 
    cursor: pointer;
}

.modal_buttons {
    margin-top: 40px;
}

button:hover {
    background-color: $primary_color;
    color: $text-color; 
    transition: all 0.3s ease;
}

//добавление кнопок поделиться, информация,редактирование

.button_container {
    display: flex;
    justify-content: flex-end;
    margin: 2px; 
    gap: 10px;
    transition: all 0.3s ease; 

    button{
        width: 36px;
        height: 36px;
        background-color: $task_background; 
        border: 1px solid $primary_color; 
        color: white; 
        cursor: pointer;
        display: flex; 
        justify-content: center; 
        align-items: center; 
        padding: 5px 10px; 
        border-radius: 4px; 
        font-size: 16px;
    }
}

.mb-12 {
    margin-bottom: 12px;
}

.hidden {
    min-width: 600px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
}

.task.expanded {
    margin-top: 25px;
    margin-bottom: 5px; 
    transition: margin-top 0.3s ease;
}

//добавление редактирования задачи 

.edit_modal_content {
    background-color: #1B1A17; 
    padding: 18px;
    gap: 0px;
    border-radius: 8px 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.edit_modal_content input.mini_input {
    width: 320px;
    font-size: 14px;
}

.edit_modal_buttons {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

//добалвние поделиться 
.share_buttons {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;

    button{
        background-color: $task-background;
        border-radius: 50%;
        border: none;
        padding: 15px;
        cursor: pointer;
        width: 50px;
        height: 50px; 
        display: flex; 
        align-items: center;
        justify-content: center;
        margin: 0 10px;
    }
}

.share_button img {
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .header {
        flex-direction: row;
        align-items: flex-start;
    }
}